{
	Filter = {
		Bundles = (
			"com.apple.Music",
			"com.apple.podcasts",
			"com.apple.tv",
			"com.apple.Preferences",
			"com.apple.SiriViewService",
			"com.apple.assistantd",
			"com.apple.springboard"
		);
		Executables = (
			"Music",
			"Podcasts",
			"TV",
			"SiriViewService",
			"assistantd",
			"SpringBoard"
		);
	};
}
